$dark-gray: #3c3c3c;

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
  font-family: -apple-system, sans-serif;
  font-size: 2.0rem;

  margin: 0;
}

h1 {
  color: #3c3c3c;
  font-weight: 400;

  margin: 0;
  margin-left: 16px;
}

.reddit-feed {
  margin: 16px auto;
  max-width: 600px;
  transition: opacity 150ms ease-in-out;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.reddit-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -8px 0 0 -8px;
  padding: 0 16px;

  a {
    color: $dark-gray;
    font-weight: 300;
    text-decoration: none;
    &::after {
      content: "➡";
      margin-left: 8px;
    }
  }

  img {
    height: 100%;
  }

  >* {
    margin: 8px 0 0 8px;
  }

  + .reddit-post {
    border-top: 1px solid $dark-gray;
    padding-top: 16px;
    margin-top: 16px;
  }
}

.reddit-post__thumbnail {
  background-size: cover;
  flex: 0 1 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.reddit-post__link-container {
  flex: 1 1 250px;
  margin-left: 8px;
}


.feed-button-container {
  display: flex;
  margin: 16px;
  justify-content: flex-end;
}

.feed-next-button {
  background: #00cbee;
  border: 0;
  box-shadow: 2px 2px 0 #0A0EA1;

  transition: box-shadow 100ms ease-in-out;

  padding: 16px;

  color: #fff;
  font-size: 20px;

  &:active {
    box-shadow: none;
  }
}





// helpers
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
