<div class="reddit-feed">
  <ul aria-live="polite">
    {{#each posts key="@index" as |post|}}
      <reddit-post @postLink={{post.permalink}} @postTitle={{post.title}} />
    {{/each}}
  </ul>

  <div class="feed-button-container">
    <button class="feed-next-button" onclick={{action getPosts}}><visually-hidden @content="List "/>More posts</button>
  </div>
</div>
